* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
  margin: 0;
  background: url("file:///C:/Users/georgete/Documents/Laboratoria/6_Semana/lyft/assets/images/hero.gif") no-repeat;
  background-color: white;
  background-size: auto 142%;
  background-position: left center;
  height: 542px;
  width: 100%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 120px;
  flex-flow: row wrap;
  margin-left: 42px;
  margin-right: 90px;
}

nav.logo {
  align-items: center;
}

.navbar-link {
  color: white;
  padding: 18px;
  font-size: 19px;
  font-weight: lighter;
}

img.logo {
  height: 46px;
}


#form-box {
    display: flex;
 }

.container {
  justify-content: flex-end;
  max-width: 600px;
  height: 422px;
  background-color: white;
}
#header {
  display: flex;
  height: 642px;
  background: linear-gradient(#76278F, #2B1E66);
  color: white;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
 
  
  
} 

img.phone {
  height: 500px;
}

.text-div h3 {
  font-size: 26px;
  }

.text-div p {
  font-size: 16px;
  
 }

.row {
  display: flex;
  flex-wrap: wrap;
  }

.column-text {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 55px;
  
}

.column-video {
  flex: 0 0 66.666666666%;
  max-width: 66.666666666%;
}

.column-text, .column-video {
  position: relative;
  height: 500px;
}
  iframe {
  height: 100%;
  width: 100%;
}

  h1{
    font-size: 28px;
    font-weight: 700;
    margin-top: 0px;
   
  }

p {
  
  font-size: 16px;
  font-weight: 600;
}

h6{
  margin-bottom:0px;
}

.column-footer {
  flex: 0 0 25%;
  max-width: 25%;
  
  }

.image-footer {
  width: 135px;
  height: 100%;
  vertical-align: central;
}

li {
  list-style: none;
  padding-bottom: 25px;
}

footer {
  background-color: #333447;
  height: 550px;
  color: white;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 190px;
  padding-top: 60px;
}

a{
color: white;
}

a:hover {
   color: #FF00BF;
}

.icons {
  display: flex;
  justify-content: center;
 
}
i {

    color: white;
    border-radius: 100%;
    padding: 8px;
    border: 1px solid white;
    position: center;
  }

hr{
  max-width: 780px;
  
}



small {
  text-align: center ;
  align-content: center;
}